PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://neondb_owner:npg_HBalFsIvo1f4@ep-curly-band-a55la1pu-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_HBalFsIvo1f4@ep-curly-band-a55la1pu.us-east-2.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=9bea68d77b153936852327a53ea473bb7f57cabf919312c735e8af65173c1e86
TELEGRAM_BOT_TOKEN=8806491562:AAGpnkpc5ZC4ul5BEWl2Wqfx6nFFkeiSXxE
CHAPA_SECRET_KEY=CHASECK_TEST-fake-chapa-secret-key
CHAPA_WEBHOOK_SECRET=chapa-webhook-secret-akgebeya
GEMINI_API_KEY="AIzaSyFakeKey_For_Dev"